.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.route-wrapper {
  position: relative;
  flex: 1;
}

.route-wrapper > div {
  position: absolute;
  height: 100%;
  width: 100%;
}
